<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h2>Email Address Entered</h2>
    {% for email in email_list:%}
        <ul>
            <li>{{ email.email }} {{ email.created_at }}</li>
        </ul>
    {% endfor %}
    <form action="/remove" method="POST">
        <label for="email">Remove this  email: </label>
        <input type="email" name="email" id="email">
        <input type="submit" value="Submit">
    </form>    
</body>
</html>