{% extends 'layout.html'%}
{% block title%}Dojos{% endblock %}
{% block leftDiv %}
<img class="portrait" src="../static/img/dojo.jpg" alt="dojo">
{% endblock%}
{% block rightDiv %}
<form action=" ">
    Main Dojo:
    <input type="text" name="dojo" id="dojo">
</form>
{% endblock%}
{% block footer%}
<form action=" ">
    <input class="ui-button ui-widget ui-corner-all" type="submit" value="/ninjas">
    <input class="ui-button ui-widget ui-corner-all" type="submit" value="/index">
</form>
{%endblock%}