{%extends 'layout.html'%}
{% block title%}Index{% endblock %}
{% block leftDiv %}
<img class="portrait" src="../static/img/ninja.png" alt="ninja">

{% endblock%}
{% block rightDiv %}
<img class="portrait" src="../static/img/dojo.jpg" alt="dojo">
{% endblock%}
{% block footer%}
<form action='/goto' method='post'>
    <input class="ui-button ui-widget ui-corner-all" type="submit" name="page" value="/ninjas">
    <input class="ui-button ui-widget ui-corner-all" type="submit" name="page" value="/dojos/new">
</form>
{%endblock%}
